.LandingPage{
	margin: auto;
	background-color: #F2D28D;
	height: 650px;
	width: 550px;
	border: solid gold 2px;
	border-radius: 5px 5px;
	justify-content: center;
	display: flex;
}

.innerWrapper{
	margin: auto;
	text-align: center;
}


.app{
background-image: url('../picture/backgrund.gif');
height: -webkit-fill-available;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
justify-content: center;
display: flex;
}
